@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
$ubuntu-font: "Ubuntu",
sans-serif;
$bg: rgb(255, 255, 255);
$bg2: rgb(255, 255, 255);
$texts: rgb(15, 15, 15);
$primary: #ffca59;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 32px;
$spacing-4: 64px;
$header-height: 4rem;
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
    @if $point==md {
        @media (min-width: $md) {
            @content;
        }
    }
}
